<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update/delete user</title>
</head>
<body>
<form th:method="patch" th:action="@{{id}(id=${user.getId()})}" th:object="${user}">
    <label  for="name">Name: </label>
    <input  type="text" th:field="*name" id="name">
    <br>
    <label  for="surname">Name: </label>
    <input  type="text" th:field="*surname" id="surname">
    <br>
    <input type="submit" value="Update">
</form>

</body>
</html>